.menu {
    background-color: #01579b;
    color: white;
    padding: 10px;
    height: 80px;
    margin-bottom: 50px;
}

.brand-logo {
    font-size: 20px;
    font-weight: bold;
}

.hide-on-med-and-down {
    position: absolute;
    top: 0;
    right: 0;
}

.nav-link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 0;
    transition: background-color 0.3s ease;
}
.hide-on-med-and-down a {
    padding: 0;
    margin: 0 10px;
}
